.kpPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14%;
    margin-left: -10%;
    width: auto;
    min-width: 465px !important;
    max-height: 800px;
    border: 0.5px solid var(--light-text-ternary);
    background-color: var(--light-bg-primary2);
    border-radius: 5px;
    font-size: smaller;
    z-index: 1;
}
.kpPopupHeader
{
    display: flex;
    flex-direction: row;
    justify-content: SPACE-BETWEEN;
    align-items: center;
    vertical-align: middle;
}
.kpPopupTitle
{
    font-size: 2em;
    font-weight: 200;
}