.notif-box
{
    background-color: lightgray;
    color: white;
    width: auto;
}
.notif-icon
{
    scale: 0.5;
    width: 10%;
}

.toastBlock
{
    display: block !important;
    font-size: smaller;
}

.toastBlockHeader
{
    border-bottom: none !important;
}