.kpMenubox {
   width: 100%;
   font-size: smaller;
   padding: 12px;
   background: var(--light-bg-primary);
}

.kpMenubox:hover {
   background: var(--bs-secondary);
   color: var(--dark-text-primary);
   cursor: pointer;
}

.kpMenubar {
   background: var(--light-bg-primary);
   width: 15%;
}

